<html lang="hr">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <iframe
      src="http://neodash.graphapp.io/?share&type=database&id=71c915c5-22e7-40e5-92d3-4e9bef8c4883&dashboardDatabase=neo4j&credentials=neo4j%2Bs%3A%2F%2Fneo4j%3AEg7O6ak1ErjFPeCwsi-IMcQds9gWKcQDDUx8jBN9mco%40%3A36e5e105.databases.neo4j.io%3A7687&standalone=Yes"
      height="900"
      width="100%"
      frameborder="0"
    ></iframe>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
