<html lang="hr">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>O aplikaciji</h1>
    <h2>nešto o aplikaciji</h2>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
