<html lang="hr">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div>
      <h1>Nemate pravo unosa u aplikaciju</h1>
      <br />
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
